.large {
  height: 33px;
  min-width: 100px;
  font-size: 140%;
}

ef-chart {
  margin: 0 2px;
  color: white;
  width: 100%;
  display: inline-block;
}
#col3 > div {
  border: 1px white solid;
}
#col3 h1 {
  font-size: 24px;
}
